html, body {
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

body{
	font-family: 'robotoregular';
	font-size: 16px;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	background: url('../img/bg/main-bg.png') 0px 0px repeat;
}


.container {
	width: 1100px;
	margin: 0 auto;
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.empty{
	height: 50px;
}


/*==============================
=            Header            =
==============================*/

.header{
	position: relative;
	width: 100%;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 2px 5px 0px rgba(51, 51, 51, .96);
	-webkit-box-shadow: 0 2px 5px 0px rgba(51, 51, 51, .96);
	-moz-box-shadow: 0 2px 5px 0px rgba(51, 51, 51, .96);
	margin-bottom: 90px;
}

.header.hidden{
	margin-top: -100px;
	transition: margin-top 1s;
}

.header-logo{
	position: relative;
	float:left;
	
}

.header-logo-pic{
	position: relative;
	border-radius: 50px;
	overflow: hidden;
	width: 4.06em;
    height: 4.06em;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
}

.header-logo-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height: 100%;
}

.header-logo-name{
	max-width: 400px;
	margin-left: 10px;
	color: #858585;
	font-size: 1.5em;
	display: inline-block;
	vertical-align: middle;
}

.header-mail{
	float: right;
	color: #858585;
	font-size: 1.5em;
	margin-top: 0.69em;
}

.header-contacts{
	float: right;
	text-align: right;
	margin-top: 18px;
	position: relative;
}

.header-contacts-link{
	display: block;
	color: #5db0bf;
	font-family: 'robotoregular';
	font-size: 18px;
	text-decoration: underline;
	margin-bottom: 5px;
}

.header-contacts-link:hover{
	cursor: pointer;
}

.header-contacts:hover .header-contacts-popup{
	display: block;
	z-index: 1;
}

.header-contacts-popup{
	transition: 0.5s;
	display: none;
	text-align: left;
	position: absolute;
	width: 270px;
	background-color: #fff;
	padding: 11px 13px 3px 13px;
	box-shadow: 0 2px 5px rgba(51, 51, 51, 0.96);
	left: 50%;
	top: 120%;
	transform: translate(-50%, 0%);
}

.header-contacts-popup:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	border: 17px solid transparent;
	border-top: none;
	border-bottom: 17px solid #ebe9e9;
	transform: translate(-50%, -100%);
}

.contacts-popup-item{
	color: #404040;
	font-family: 'robotolight';
	font-size: 16px;
	margin-bottom: 8px;
}



.contacts-popup-item:last-child:before{
	display: block;
	content: "";
	height: 1px;
	background-color: #ebe9e9;
	margin-bottom: 8px;
	margin-top: 10px;
}

.contacts-popup-item span{
	font-family: 'robotomedium';
	font-weight: bold;
}
/*=====  End of Header  ======*/

/*====================================
=            Main-content            =
====================================*/

.content{
	height: 1px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s;
	transition-delay: .8s;
}

.content-menu-list{
	background-color: #fff;	
	display: inline-block;
}

.content-menu-item{
	border-right: 1px solid #ebe9e9;
	float: left;
	position: relative;
	background-color: #fafafa;
}


.content-menu-item.active{
	background-color: #fff;
	border-bottom: none;
}

.content-menu-item.active:after{
	content: '';
	width: 100%;
	height: 10px;
	background-color: #fff;
	display: block;
	position: absolute;
	bottom: -2px;
	z-index: 1;
}

.menu-item-link{
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 70px;
	padding-right: 40px;	
	display: inline-block;
	color: #7b7b7b;
	font-size: 18px;
}

.menu-item-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

.menu-item-link.about{
	background: url('../img/tab-about.png') 30px center no-repeat;
}

.menu-item-link.career{
	background: url('../img/tab-career.png') 30px center no-repeat;
}

.menu-item-link.contact{
	background: url('../img/tab-phone.png') 30px center no-repeat;
}

.content-wrapper{
	position: relative;
	margin-bottom: 50px;
}

.content-social{
	position: absolute;
	width: 60px;
	height: 210px;
	background-color: #fff;
	right: -60px;
	top: 60px;
}

.social-item-link{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 24px 0 0 0;
}

.social-item-icon{
	width: 35px;
	height: 35px;
	fill: #404040;	
}

.social-item-link:hover .social-item-icon{
	fill: #3b5998;
}

.content-list{
	position: relative;
	display: block;
	background-color: #fff;
	margin-top: -5px;
	box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.96);
}

.content-list-item{
	padding: 3.75em 3.44em 3.75em 2.5em;
	display: none;
}

.content-list-item.active{
	display: block;
}

.content-list-item.disable{
	display: none;
}

.about-left{
	float: left;
}

.about-left-pic{
	height: 19.06em;
	width: 19.06em;
	border-radius: 200px;
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;	
}

.about-pic-img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-40%,-40%);
}

.about-left-name{
	text-align: center;
	font-size: 18px;
	color: #727272;
	letter-spacing: 2px;
}

.about-name-city{
	margin: 0 auto;
	width: 187px;
	padding-left: 25px;
	background: url('../img/location-icon.png') 25px no-repeat;
}

.about-right{
	float: right;
}

.about-right-text{
	border-left: 1px solid #ebe9e9;
}

.about-text-title{
	padding-left: 40px;
	margin-bottom: 45px;
	font-size: 2em;
	color: #727272;	
	max-width: 400px;
}

.about-text-content{
	overflow-y: auto; 
	height: 264px;
	width: 670px;
	font-size: 16px;
	line-height: 26px;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 35px;	
	color: #727272;
	font-family: 'robotolight';
	text-align: justify;
	margin-bottom: 25px;
}

.about-text-content::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
.about-text-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
/* Handle */
.about-text-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(182,182,182,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.about-text-content::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(182,182,182,0.3); 
}

.about-right-summary{
	float: right;
	color: #727272;
	font-size: 17px;
	padding-right: 43px;
}

.about-summary-link{
	color: #404040;
	text-decoration: underline;
}

.about-summary-link:hover{
	color: #0e50ea;
}

.career-title{
	color: #727272;
	font-size: 30px;
	font-family: 'robotolight';
	letter-spacing: 2px;
	margin: 0px;
	margin-bottom: 10px;
}

.career-content{
	overflow-y: auto;
	height: 430px;
	padding-top: 25px
}

.career-content::-webkit-scrollbar {
  width: 8px;
}
 
/* Track */
.career-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
 
/* Handle */
.career-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(182,182,182,0.5); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.career-content::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(182,182,182,0.3); 
}

.career-list{
	border-left: 1px solid #ebe9e9;
	margin-left: 95px;
}

.career-list-item{
	position: relative;
	margin-bottom: 20px
}

.career-item-blockpoint{
	display: inline-block;
	position: absolute;
	left: -53px;
	top: 50%;
	margin-top: -10px;
}

.blockpoint-year{
	float: left;
	margin-right: 7px;
	color: #5db0bf;
	font-family: 'robotolight';
	font-size: 16px;
}

.blockpoint-point{
	width: 14px;
	height: 14px;
	background-color: #ebe9e9;
	border: 3px solid #5db0bf;
	border-radius: 50px;
	display: inline-block;
}

.career-item-content{
	position: relative;
	display: inline-block;
	width: 78%;
	background-color: white;
	border: 2px solid #ebe9e9;
	box-shadow: 0 2px 5px #a4a4a4;
	margin-left: 80px;
	padding-bottom: 20px;
}

.career-item-content:hover{
	background-color: #fafafa;
}

.career-item-img{
	display: inline-block;
	width: 83px;
	text-align: center;
	margin: 28px 0 0 14px;
}

.career-item-work{
	display: inline-block;
	vertical-align: top;
	margin: 35px 0 0 10px;
	color: #727272;
}

.item-work-date{
	max-width: 490px;
	margin:0;
	font-size: 16px;
	font-family: 'robotolight';
}

.item-work-place{
	max-width: 490px;
	margin:0;
	font-size: 20px;
	font-family: 'robotoregular';
}

.career-item-popup{
	position: absolute;
	width: 275px;
	height: 170px;
	background-color: #d0d0d0;
	top: 50%;
	margin-top: -85px;
	right: -80px;
	z-index: 1;
	box-shadow: 0 2px 5px rgba(51, 51, 51, 0.96);
	opacity: 0;
	transition: opacity .8s;
}

.career-item-popup:after{
	content: ''; 
	position: absolute; 
	right: 100%;
	top: 50%;
	transform: translate(0%,-50%);
	border: 17px solid transparent; 
	border-right: 17px solid #ebe9e9; 
}

.career-item-content:hover .career-item-popup{
	opacity: 1;
} 

.feedback-form{
	color: #727272;
	font-size: 18px;
}

.feedback-block{
	display: inline-block;
	margin-right: 68px;
	vertical-align: top;
}

.feedback-label{
	display: block;	
	margin-bottom: 40px;
}

.feedback-input, .feedback-select{
	width: 276px;
	height: 46px;
	margin-left: 28px;
	border: 1px solid #b6b6b6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
	padding: 17px;
	box-sizing: border-box;	
}

.feedback-select{
	padding: 0;
	padding-left: 23px;
	background-color: #fff;
}

.feedback-blockradio{
	vertical-align: top;
	margin-bottom: 15px;
}

.feedback-blockradio-title{
	display: inline-block;
	float: left;
	margin-right: 42px;
	height: 50px;
}

input[type="radio"]{
	display: none;
}

input[type="radio"] + label{
	color: #616161;
	font-family: "robotolight";
	font-size: 18px;
	cursor: pointer;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

input[type="radio"] + label::before {
	content: "";
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 12px 0 0;
	background-image: url(../img/radio-unchecked.png);
	background-repeat: no-repeat;
}

input[type="radio"]:checked + label::before {
	background-image: url(../img/radio-checked.png);;
}

.feedback-textarea{
	width: 675px;
	height: 204px;
	border: 1px solid #b6b6b6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
	padding: 15px;
	box-sizing: border-box;
	resize: none;
	margin-bottom: 29px;
}

.feedback-button{
	width: 139px;
	height: 40px;
	font-family: 'robotoregular';
	font-size: 18px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.24);
	border: none;
	margin-right: 20px;
	background-color: #e7e7e7;
	color: #727272;
}

.feedback-button:hover{
	background-color: #5db0bf;
	color: #fff;
}

.button-blog{
	width: 75%;
	max-width: 258px;
	display: inline-block;
  	padding: 15px 0px;
	background-color: rgb(93, 176, 191);
	box-shadow: 0 1px 3px rgba(51, 51, 51, 0.96);
	color: #fff;
	font-size: 18px;
	font-family: 'robotoregular';
	text-align: center;
	vertical-align: middle;
	margin-left: 58px;
	box-sizing: border-box;
	transition: 0.4s;
}

.button-blog:hover{
	background-color: rgb(231, 231, 231);
	color: #727272;
}
/*====================================
=       Start-screen      =
====================================*/

.welcom{
	position: absolute;
	background-color: #fff;
	width: 644px;
	padding: 27px 0 19px 0;
	box-shadow: 0 2px 5px rgba(51, 51, 51, 0.96);
	height: 463px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.welcom-blockimg{
	position: relative;
	width: 19.19em;
	height: 19.19em;	
	border: 2px solid #b6b6b6;
	margin: 0 auto;
	margin-bottom: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	overflow: hidden;
}

.welcom-blockimg-img{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 100%;
	max-width: 100%; 
}

.welcom-text{
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

.welcom-text-name{
	color: #727272;
	font-family: 'robotoregular';
	font-size: 1.88em;
	margin-bottom: 10px;
}

.welcom-text-city{
	color: #727272;
	font-family: 'robotoregular';
	font-size: 1.25em;
}

.welcom-link{
	color: #4f98a5;
	font-family: 'robotomedium';
	font-size: 18px;
	float: right;
	margin-right: 27px;
}

.welcom-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

/*=====  End of Start-screen  ======*/



/*====================================
=            Blog-content            =
====================================*/

.blog-wrapper{
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(51, 51, 51, 0.96);
	padding: 28px 54px 30px 36px;
	margin-bottom: 61px;
	position: relative;
}

.button-openmenu {
	text-decoration: none;
	float: left;
	width: 30px;
	height: 50px;
	position: absolute;
	right: 20px;
	top: 20px;
	display: none;
}

.button-openmenu:after {
	content: "";
	position: absolute;
	left: 0;
	top: -50px;
	height: 100%;
	width: 100%;
	box-shadow: 0 6px 0 #03b3c2, 0 10px 0 #fff, 0 16px 0 #03b3c2, 0 20px 0 #fff, 0 26px 0 #03b3c2;
}

.breadcrumbs{
	margin-bottom: 47px;
}

.breadcrumbs-item{
	display: inline-block;
}

.breadcrumbs-item.active .breadcrumbs-link{
	text-decoration: underline;
}

.breadcrumbs-item:before{
	content: ">";
	display: inline-block;
	color: #404040;
}

.breadcrumbs-item:first-child:before{
	display: none;
}

.breadcrumbs-link{
	color: #404040;
	font-family: 'robotoregular';
	font-size: 14px;
}

.breadcrumbs-link:hover{
	text-decoration: underline;
}

.blog-menu{
	padding: 15px 11px 0 5px;
	border-right: 2px solid #ebe9e9;
	width: 221px;
	box-sizing:border-box;
	height: 360px;
	float: left;
}

.blog-menu-item{
	margin-bottom: 4px;
}

.blog-menu-item.active .blog-menu-link{
	color: #5db0bf;
}

.blog-menu-link{
	display: block;
	color: #727272;
	padding: 5px 0 5px 18px;
	font-size: 18px;
	font-family: 'robotolight';
	font-weight: bold;
}

.blog-menu-link:hover{
	background-color: #fafafa;
}

.blog-content{
	float:right;
	width: 100%;
	max-width: 789px;
	box-sizing:border-box;
	padding-left: 33px;
}

.blog-content-list{
	margin-bottom: 79px;
}

.blog-content-item{
	margin-bottom: 44px;
}

.blog-title{
	color: #727272;
	font-family: 'robotolight';
	font-size: 30px;
	margin: 0;
	margin-bottom: 48px;
}

.blog-item-title{
	margin: 0;
	display: inline-block;
	color: #727272;
	font-family: 'robotolight';
	font-size: 20px;
	width: 682px;
	margin-bottom: 24px;
}

.blog-item-date{
	color: #727272;
	font-family: 'robotolight';
	font-size: 14px;
	display: inline-block;
	font-style: italic;
}

.blog-item-inner{
	margin-bottom: 17px;
}

.blog-item-img{
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	max-width: 400px;
	max-height: 300px;
}

.blog-inner-text{
	padding-right: 10px;
	color: #727272;
	font-family: 'robotolight';
	font-size: 13px;
	line-height: 17px;
}

.blog-item-further{
	float: right;
	text-align: right;
	width: 293px;
	padding: 0 13px 12px 0;
	border-bottom: 1px solid #ebe9e9;
}

.blog-further-link{
	color: #727272;
	font-family: 'robotomedium';
	font-size: 14px;
	font-weight: bold;
}

.blog-further-link:hover{
	font-size: 15px;
}

.blog-pagenumber{
	float: right;
}

.blog-pagenumber-item{
	display: inline-block;
	background-color: #a8a8a8;
	background-image: linear-gradient(to top, #fafafa 0%, #fbfbfb 100%);
	border: 1px solid #c3c3c3;
	border-radius: 2px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.02), inset 0 2px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 1, 1, 0.08);
}

.blog-pagenumber-item.dots{
	background-color: inherit;
	background-image: none;
	border: none;
	box-shadow: none;
	color: #6e6e6e;
	line-height: 16px;
}

.blog-pagenumber-item.active .blog-pagenumber-link, .blog-pagenumber-link:hover{
	background-color: #a8a8a8;
	color: #4a4a4a;
}

.blog-pagenumber-link{
	display: block;
	color: #6e6e6e;
	font-family: 'robotolight';
	font-size: 14px;
	padding: 3px 7px 6px 7px;
	font-weight: bold;
}
/*=====  End of Blog-content  ======*/

/*=====  End of Main-content  ======*/



/*====================================
=            Footer            =
====================================*/

.footer{
	position: relative;
	margin-top: -50px;
	width: 100%;
	height: 50px;
	background-color: #fff;
}

.footer.hidden{
	opacity: 0;
	transition: opacity 1s;
	transition-delay: .8s;
}

.footer-copyright{
	max-width: 300px;
	display: inline-block;
	margin-top: 15px;
	vertical-align: middle;
}

.footer-social-list{
	float: right;
	display: inline-block;
	margin-top: 3px;
}

.footer-social-item{
	display: inline-block;
	margin-left: 15px;
}

.footer-social-item .social-item-link{
	padding: 10px 0 5px 0;
}

.footer .social-item-icon{
	width: 25px;
	height: 25px;
}
/*=====  End of Footer  ======*/
