
@media (max-width: 1299px) {
	body{
		font-size: 16px;
	}

	.container{
		width: 970px;
	}

	.content-social {
		display: none;
	}

	.about-left-pic {
		height: 270px;
		width: 270px;
	}

	.about-text-content {
	    width: 562px;
    }

  .feedback-block {
		margin-right: 30px;
	}

	.blog-item-title{
		width: 552px;
	}

	.blog-content {
	    max-width: 659px;
	}
}

@media (max-width: 991px) {
	body{
		font-size: 14px;
	}

	.container{
		width: 750px;
	}

	.header {
		margin-bottom: 40px;
	}

	.header-contacts{
		margin-top: 14px;
	}

	.button-openmenu{
		display: block;
	}

	.content-wrapper {
		margin-bottom: 40px;
	}

	.about-left {
	    float: none;
	}

	.about-pic-img {
	  	-webkit-transform: translate(-50%,-30%);
	  	    -ms-transform: translate(-50%,-30%);
	  	        transform: translate(-50%,-30%);
    }

	.about-left-pic {
		display: inline-block;
		height: 195px;
	  	width: 388px;
	  	margin-bottom: 20px;
	}

	.about-left-name {
		display: inline-block;
	    vertical-align: top;
	    margin-top: 80px;
	    margin-left: 30px;
	}

	.about-text-content {
	  	overflow-y: auto;
	  	height: auto;
	  	width: 100%;
	}

  	.about-text-content {
  		padding-right: 0;
  	}

  	.about-text-title {
  		margin-bottom: 20px;
  	}

  	.about-right-summary{
  		padding-right: 0;
  	}

	.career-list{
		margin-left: 60px;
	}
	
	.career-content{
		height: auto;
	}	

	.career-item-popup{
		display: none;
	} 
	
	.career-item-content{
		width: 85%;
	}

	.career-item-content:hover{
		background-color: #fff;
	}

  	.welcom {
 	    width: 540px;
    	height: 420px;
  	}

	.blog-menu {
	    padding: 0;
	    border-right: none;
	    width: 221px;
	    box-sizing: border-box;
	    height: 0px;
	    float: none;
	    background-color: #f0efef;
	    position: absolute;
	    right: 36px;
	    top: 46px;
	    overflow: hidden;
	    transition: 1s;
	}

	.blog-menu.active{
		height: 150px;
	}

	.blog-content{
		padding-left: 10px;
	}
}

@media (max-width: 767px) {
	body{
		font-size: 12px;
	}

	.container{
		width: 480px;
	}

	.header-contacts{
		margin-top: 12px;
	}
	
	.menu-item-link {
		display: block;
	}

	.content-list-item {
		padding: 3.75em 2.5em 3.75em 2.5em;
	}

	.content-menu-item{
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #ebe9e9;
	}
	
	.content-menu-item.active:after{
		display: none;
	}

	.about-left {
		text-align: center;
		margin-bottom: 20px;
	}	

	.about-left-name {
		display: inline-block;
	    vertical-align: top;
	    margin-top: 0;
	    margin-left: 0;
	}

	.about-left-pic {
		display: block;
		height: 195px;
	   	width: 100%;
	}
	
	.about-text-content {
		padding-left: 15px;
	}

	.career-list {
	    margin-left: 0;
	    border-left:none;
	}

	.career-item-blockpoint {
		display: none;
	}

	.career-item-content{
		margin-left: 0;
		width: 97%;
	}

	.feedback-input, .feedback-select {
		width: 235px;
	}
	
	.feedback-textarea {
		width: 100%;
	}

	.welcom {
	    width: 460px;
	   	height: 375px;
	}

	.blog-wrapper{
		padding: 28px 30px 30px 20px;
	}

	.blog-item-title {
    	width: 347px;
	}
}

@media (max-width: 543px) {
	body{
		font-size: 11px;
	}

	.container{
		width: 95%;
	}

	.header-mail {
  		display: none;
	}

	.header-contacts{
		display: none;
	}

	.content-list-item {
		padding: 3.75em 15px 3.75em 15px;
	}

 	.career-title {
    	font-size: 25px;
	}

	.career-item-img {
		display: none;
	}
	
	.career-item-work {
		margin: 24px 0 0 13px;
	}

	.item-work-date {
		font-size: 14px;
	}

	.item-work-place {
		font-size: 18px;
	}

	.about-text-content{
	  	font-size: 14px;
	}

	.feedback-input, .feedback-select {
		display: block;
	}

	.feedback-blockradio-title{
		height: 30px;
	}

	input[type="radio"] + label{
		margin-left: 30px;
	}

	.feedback-button {
	    width: 49%;
	    margin-right: 0;
	}

	.footer-copyright {
    	max-width: 150px;
    }

	.welcom {
	    width: 80%;
	  	height: 350px;
	}
	
	.breadcrumbs{
		display: none;
	}

	.blog-wrapper {
    	padding: 28px 20px 30px 10px;
  	}

	.blog-item-img {
    	width: 100%;
  	}

	.blog-item-title{
		width: auto;
		margin-bottom: 0;
	}

	.blog-item-date{
		display: block;
		text-align: right;
	}

	.blog-item-further{
		width: 120px;
	}
}
